.Course {
  cursor: 'pointer';
  width: 260px;
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.Course-cover {
  height: 260px;
}

.Course-image {
  object-fit: cover;
  transition: .3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.Course-image:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.Course-title {
  margin: 5px 0 0 0;
  color: #FFFFFF;
  white-space: normal;
}

.Course-tags {
  font-size: 12px;
  margin: 5px 0 0 0;
  color: #AAAAAA;
}
